.titlebar {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 20px;
}

.ats-logo, a {
  width: 30vw;
  // padding-left: 5vw;
  grid-column: 1/2;
  max-width: 450px;
}

.contact {
  color: green;
  font-weight: bold;
  grid-column: 2/3;
  width: 35vw;
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: right;
}

.motto {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
}

.bonded {
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.2rem;
}
